* {
    /* border: 1px solid green; */
    margin: 5px;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
    background-color: #E7F1F1;
}

.title {
    text-align: center;    
    font-size: 80px;
    font-weight: 800;
    padding-top: 80px;
}

.hex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0px;

}

#hexBoxText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

#box0 {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #EA9999;
}

#box1 {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #FACB9C;
    
}

#box2 {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #FFE59A;
}

#box3 {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #B6D7A8;
}

#box4 {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 138px;
    border: 4px solid black;
    background-color: #A4C4CA;
    
}

#cap0, #cap1, #cap2, #cap3, #cap4 {
    padding-top: 0px;
    text-align: center;
    font-weight: 400;
    font-size: larger;
    width: 140px;
    padding: 4px;
}

.button-box {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.palette-button {
    background-color: black;
    color: white;
    border-radius: 10px 100px;
    height: 50px;
    width: 240px;
    font-size: x-large;
    font-weight: 300;
    /* margin: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* -ms-transform: translateX(50%);
    transform: translateX(50%); */
}

.palette-button:hover {
    cursor: pointer;
}

#unlocked0, #unlocked1, #unlocked2, #unlocked3, #unlocked4, #locked0, #locked1, #locked2, #locked3, #locked4 {
    height: 25px;
    width: 25px;
}

.lock-button-0:hover {
    cursor: pointer;
}
