* {
    /* border: 1px solid green; */
    margin: 5px;
    font-family: "Poppins", sans-serif;
}

html {
    background-color: #E7F1F1;
    /* width: 100%; */
    height:100%;
    padding-right: 20px
}

.body{
    display: flex;
    /* width: 100%; */
    height: 100%;
    margin-left: 50px
}

main {
    padding-right: 150px
}

.title {
    text-align: center;    
    font-size: 80px;
    font-weight: 800;
    padding-top: 60px;
    height: 20%
}

.hex-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30%;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;

}

#hexBoxText {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 0%;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

#box0 {
    /* display: flex; */
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #EA9999;
}

#box1 {
    /* display: flex; */
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #FACB9C;
    
}

#box2 {
    /* display:flex; */
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #FFE59A;
}

#box3 {
    /* display:flex; */
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #B6D7A8;
}

#box4 {
    /* display:flex; */
    justify-content: flex-end;
    align-items: flex-end;
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #A4C4CA;
    
}

#cap0, #cap1, #cap2, #cap3, #cap4 {
    padding-top: 0px;
    text-align: center;
    font-weight: 400;
    font-size: larger;
    width: 130px;
    padding: 0px;
    padding-top: 5px;
    height: 40px
}


.button-box {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding-top: 70px;
}

.palette-button, .save-button {
    background-color: black;
    color: white;
    border-radius: 10px 100px;
    border: none;
    height: 50px;
    width: 270px;
    font-size: x-large;
    font-weight: 300;
    /* margin: auto; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* -ms-transform: translateX(50%);
    transform: translateX(50%); */
}

.palette-button:hover, .save-button:hover {
    cursor: pointer;
}

#unlocked0, #unlocked1, #unlocked2, #unlocked3, #unlocked4, #locked0, #locked1, #locked2, #locked3, #locked4 {
    height: 25px;
    width: 25px;
    padding-left: 102px;
    padding-top: 103px;
}

.lock-button:hover {
    cursor: pointer;
}

.saved-palettes {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    border-left: 5px solid black;
    margin: 0px;
}

.saved-title {
    justify-content: flex-end;
    font-size: 40px;
    font-weight: 800;
    padding-top: 30px;
    padding-bottom: 30px;
}

.saved-hex-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 20px;

}

#savebox1-0 {
    height: 45px;
    width: 45px;
    border: 4px solid black;
    background-color: #EA9999;
    margin: 3px
}

#savebox1-1 {
    height: 45px;
    width: 45px;
    border: 4px solid black;
    background-color: #EA9999;
    margin: 3px
}

#savebox1-2 {
    height: 45px;
    width: 45px;
    border: 4px solid black;
    background-color: #EA9999;
    margin: 3px
}

#savebox1-3 {
    height: 45px;
    width: 45px;
    border: 4px solid black;
    background-color: #EA9999;
    margin: 3px
}

#savebox1-4 {
    height: 45px;
    width: 45px;
    border: 4px solid black;
    background-color: #EA9999;
    margin: 3px
}

.hidden {
    display: none;
}