* {
    /* border: 1px solid green; */
    margin: 5px;
    font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
    background-color: #E7F1F1;
}

.title {
    text-align: center;    
    font-size: 80px;
    font-weight: 800;
    padding-top: 80px;
}

.hex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 300px;

}

#box1 {
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #EA9999;
}

#box2 {
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #FACB9C;
    
}

#box3 {
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #FFE59A;
}

#box4 {
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #B6D7A8;
}

#box5 {
    height: 140px;
    width: 140px;
    border: 4px solid black;
    background-color: #A4C4CA;
    
}

#cap1, #cap2, #cap3, #cap4, #cap5 {
    padding-top: 150px;
    text-align: center;
    font-weight: 400;
    font-size: larger;
}
